---
import PageHeading from "../components/page-heading.astro";
import BaseLayout from "../layouts/base-layout.astro";
import CategorySelectbar from "src/react/category-select-bar";
---

<BaseLayout title="My Posts">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Posts"
      description="Dive into my musings on life and tech in my latest posts; a blend of introspection and innovation. Keep an eye out for fresh insights and updates!"
    />
    <CategorySelectbar client:load count={10} />
  </section>
</BaseLayout>
